@using Household_Balance_Tracker.Models.ViewModels

@model TransactionViewModel

@{
    ViewData["Title"] = "Insert Trancastion";

    var TransactionTypes = new SelectList(new[] {
        new SelectListItem {Value = "Expense", Text = "Expense"},
        new SelectListItem {Value = "Income", Text = "Income"},
    }, "Value", "Text");
}

<div class="form-div">
    <h1>@ViewData["Title"]</h1>

    @using (Html.BeginForm("InsertTransaction", "Transaction", FormMethod.Post))
    {
        <div class="form-group">
            <label for="transactionDescription">Description</label>
            @Html.TextBoxFor(m => m.description, new { @id = "transactionDescription", @class = "form-control form-field", @placeholder = "Description" })
            @Html.ValidationMessageFor(m => m.description, null, new { @class = "validation-warning" })
        </div>

        <div class="form-group">
            <label for="transactionValue">Value</label>
            @Html.TextBoxFor(m => m.value, new { @id = "transactionValue", @class = "form-control form-field", @placeholder = "R$100.00" })
            @Html.ValidationMessageFor(m => m.value, null, new { @class = "validation-warning" })
        </div>

        <div class="form-group">
            <label for="transactionType">Age</label>
            @Html.DropDownListFor(m => m.type, TransactionTypes, new { @id = "transactionType", @class = "form-control form-field"})
            @Html.ValidationMessageFor(m => m.type, null, new { @class = "validation-warning" })
        </div>

        <div class="form-group">
            <label for="transactionOwnerIdOrEmail">Owner Identifier</label>
            @Html.TextBoxFor(m => m.emailOrId, new { @id = "transactionOwnerIdOrEmail", @class = "form-control form-field", @placeholder = "Person id or email" })
            @Html.ValidationMessageFor(m => m.emailOrId, null, new { @class = "validation-warning" })
        </div>

        <button type="submit" class="button form-field">Register</button>
    }
</div>